/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/

body {
	font-size: 14px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	
} 

.section {
	font-weight: bold;
	font-size: 35px;
	text-align: center;
	padding: 61px 0 50px 0;


}

.container {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;

	


}

.header {
	background: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	max-height: 720px;
	

	&__info {
		padding-top: 40px;
	}

	&__one {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		font-size: 45px;
		opacity: 0.2;
		position: relative;
		font-weight: 600;
		text-transform: uppercase;

		&:after {
			content: "";
			width: 4px;
			height: 40px;
			background-color: blue;
			position: absolute;
			top: 0;
			right: -35px;
			z-index: 1;
		}
	}

	&__title {
		width: 200px;
		font-weight: 600;
		
	}

	&__icon {
		width: 250px;
		display: flex;
		justify-content: space-between;
		text-align: center;
		padding-right: 20px;
		font-size: 25px;
		
		
		& a {
			
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 auto;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			transition: .2s linear;
			color:#fff;
			

			&:hover {
				transform: translateY(-3px);
			}
			
		}

		&--green {
			background-color: #2DD038;
			box-shadow: 0px 3px 10px 2px rgba(45, 208, 56, .9);
		}

		&--purple {
			background-color: #7B519D;
			box-shadow: 0px 3px 10px 2px rgba(123, 81, 157, .9);
		}

		&--blue {
			background-color: #5BBAF0;
			box-shadow: 0px 3px 10px 2px rgba(91, 186, 240, .9);
		}
		
		

	}

	&__inform {
		/* margin-left: 60px; */
	}

	&__number {}

	&__phone {
		& a {
			color: #000;
			text-transform: uppercase;
			font-weight: 600;
		}

		&:after {
			content: url(../img/call-answer.png);
			width: 20px;
			height: 20px;
			position: relative;
			top: 2px;
			left: -135px;
			z-index: 1;
		}
	}

	&__mail {}

	&__text {
		padding-left: 10px;
		padding-top: 5px;
		 
		& a {
			color: #000;
			
			font-weight: 600;
			position: absolute;
		}

		&:after {
			content: url(../img/mail-black-envelope-symbol.png);
			width: 20px;
			height: 20px;
			
			position: relative;
			top: 2px;
			left: -25px;
			z-index: 1;
		}
	}

	&__button {}

	&__two {

		padding-top: 30px;
		
		 
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		

		& a {
			color: black;
			
			text-transform: uppercase;
			font-weight: 600;
			
			position: relative;

			&:last-child {
				padding-right: 0;
			}


			&:before {
				content: "";
				width: 0%;
				height: 3px;
				background-color: #000;
				position: absolute;
				bottom: -7px;
				left: 50%;
				transform: translateX(-50%);
				z-index: 1;

				transition: .2s linear;


			}

			&:hover {

				&:before {
					width: 100%;
				}

			}

			&:active {
				transform: translateY(2px);
			}


		}

	}

	&__content {
		
	}

	&__texttitle {
		width: 100%;
		max-width: 675px;
		margin-top: 140px;
		margin-bottom: 30px;
		position: relative;

		&:before {
			position: absolute;
			content: url(../img/men.png);
			bottom: -110px;
			right: -390px;
			z-index: 1;
		}
		
	}

	&__subtitle {
		font-size: 40px;
		font-weight: 600;
		line-height: 1.4;

	}

	&__suptitle {
		font-size: 25px;
		padding: 20px 0px 40px;

		& span {
			font-weight: 600;
		}
	}

	


.button {}

.button--blue {}

}

.main {

	&__iner {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 60px;
		
	}

	&__item {
		width: 100%;
		max-width: 260px;
		margin: 15px 10px;
		padding: 30px 0;
		text-align: center;
		box-shadow: 1px 3px 5px 3px rgba(0, 0, 0, 0.2);
		transition: .2s linear;
		

		&:hover {
			transform: translateY(-5px);
			box-shadow: 1px 3px 4px 4px rgba(0, 0, 0, 0.3);
			
		}
	}

	&__icon {
		padding: 20px;
		
	}

	&__testimonials {
		text-align: center;
		font-size: 19px;
		padding: 0 15px;
		color: #000;
	}

	&__discription {
		background-color: #F6F6F6;

	}

	&__titles {
		display: flex;
		justify-content:space-between;
		padding: 40px 0;
	}

	&__photos {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__cont {
		width: 20%;
		text-align: center;

		

		& h2 {
			font-size: 18px;
			font-weight: 600;
			padding: 15px 0;
			
		}
	}




	&__proggrams {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__items {
		width: 260px;
		padding: 20px;
		background-color: #fff;
		box-shadow: 1px 3px 5px 3px rgba(0, 0, 0, 0.2);
		text-align: center;
		transition: .2s linear;
		margin-bottom: 120px;

		&:hover {
			transform: translateY(-5px);
			box-shadow: 1px 3px 4px 4px rgba(0, 0, 0, 0.3);

		}
	}

	&__img {}

	&__suptitle {
		padding: 15px 0px 0px 0px;
		font-weight: 600;
		font-size: 19px;
	}

	&__greetext {
		color: #53B43B;
		position: relative;

		&::after {
			content: url(../img/progg/123.png);
			width: 5px;
			height: 5px;
			position: absolute;
			top: 0;
			left: 40px;
			z-index: 1;
		}
	}

	&__money {
		padding: 25px 0 10px 0;
		font-weight: 600;
		font-size: 19px;
	}


	&__slide {
		background-color: #F6F6F6;
	}

	&__slider {
		padding: 50px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}


	

		&__news {}

		&__newsiner {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&__newsone {
			display: flex;
			width: 100%;
			max-width: 570px;
			background: url(../img/News/1.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			
		}

		&__newsitem1 {
			
			padding: 45px 30px 80px 20px;
			line-height: 1.3;

			& h2 {
				font-size: 20px;
				font-weight: 600;
				padding-bottom: 30px;

				& span {
					color: #86ADEF;
				}
				
			}
			
		}

		&__newsitem2 {
			display: flex;
			align-items: center;
			justify-content: center;
			
		}

		&__newstwo {
			display: flex;
			width: 100%;
			max-width: 550px;
			
			
			
		}

		&__newsitem3 {
			width: 100%;
			max-width: 250px;
			padding: 25px;
			box-shadow: 1px 3px 5px 3px rgba(0, 0, 0, 0.2);
			margin-right: 30px;
		}

		&__newstext1 {
			padding-bottom: 15px;
			margin-top: 15px;
		}

		&__newstext2 {
			font-weight: 600;
			padding-bottom: 15px;
		}

		&__newstext3 {
			
		}

		&__newsitem4 {
			width: 100%;
			max-width: 250px;
			padding: 25px;
			box-shadow: 1px 3px 5px 3px rgba(0, 0, 0, 0.2);

			
		}

		&__newsbtn {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	

	




}


.footer {

	background-color: #333333;
	color: #fff;

	&__iner {
		display: flex;
		justify-content: space-between;
		

		& h2 {
			font-size: 20px;
			font-weight: 600;
			padding-bottom: 15px;
		}
	}

	&__item {
		padding: 50px 0;
		width: 100%;
		max-width: 360px;

		& li {
			line-height: 1.3;
			padding-bottom: 10px;
			
		}

		& a {
			color: #fff;
			transition: .2s linear;

			&:hover {
				color: #E88952;
				
			}
		}
	}

	&__item1 {
		padding: 50px 0;

		& a {
			color: #fff;
		}
	}

	&__social {
		
	}

	&__link1 {
		&:after {
			content: url(../img/call-answer.png);
			width: 20px;
			height: 20px;
			position: relative;
			top: 2px;
			right: 135px;
			z-index: 1;
		}
	}

	&__link2 {

			line-height: 3.5;

		&:after {
			content: url(../img/call-answer.png);
			width: 20px;
			height: 20px;
			position: relative;
			top: 2px;
			right: 105px;
			z-index: 1;
		}
	}

	&__link3 {
		&:after {
			content: url(../img/call-answer.png);
			width: 20px;
			height: 20px;
			position: relative;
			top: 2px;
			right: 135px;
			z-index: 1;
		}
	}

	&__inform {
		margin: 30px 0;
	}
}

.container {}

.button {}








.button {
	color: #fff;
	font-weight: 600;
	padding: 10px 45px;
	background: linear-gradient(45deg, #F6BD60, #E88952);
	box-shadow: 0px 3px 10px 3px rgba(246, 189, 96, .6);
	border-radius: 7px;
	transition: .2s ;
	font-size: 16px;
	line-height: 21px;
	letter-spacing: 1px;
	

	&:active {
		transform: translateY(2px);
	}


	&--btn {
		color: #fff;
		background: linear-gradient(45deg, #87AFF1, #6C80CB);
		box-shadow: 0px 3px 10px 3px rgba(135, 175, 241, .6);
		font-weight: 600;
		padding: 10px 45px;
		border-radius: 7px;
		transition: .2s;
		letter-spacing: 1px;
		margin-top: 50px;

		&:active {
			transform: translateY(2px);
		}


	}

	&--btnn {
		color: #fff;
		background: linear-gradient(45deg, #F6BD60, #E88952);
		box-shadow: 0px 3px 10px 3px rgba(246, 189, 96, .6);
		font-weight: 600;
		padding: 15px 35px;
		border-radius: 7px;
		transition: .2s;
		letter-spacing: 1px;
		margin: 50px auto;
		font-size: 14px;

		&:active {
			transform: translateY(2px);
		}


	}
	
	
}




